<div id="content">
  <div class="header">
    <h1>Hello There</h1>
    <div class="logo">
      <img src="assets/Photo_2024-11-24_154156.jpg" style="width: 140px; height: auto;">
    </div>
    <h2>
      Here's who I am and what I do
    </h2>
    <div class="bttns">
      <a routerLink="/resume" class="bttn primary">Resume</a>
      <a routerLink="/project" class="bttn secondary">View Projects</a>
    </div>
  </div>

  <router-outlet></router-outlet>

  <footer class="footer">
    <div class="social-icons">
      <a href="https://github.com/Kylr2000/" target="_blank" aria-label="GitHub">
        <img src="https://www.flaticon.com/free-icons/github" title="github icons" class="icon">
      </a>
      <a href="mailto:kylejaimungal@gmail.com" aria-label="Email">
        <img src="https://www.flaticon.com/free-icons/gmail" alt="Email" class="icon">
      </a>
      <a href="https://www.linkedin.com/in/kyle-jaimungal-5b787b260/" target="_blank" aria-label="LinkedIn">
        <img src="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons" class="icon">
      </a>
    </div>
  </footer>
</div>
